h1, h2 {
  margin-bottom: 10px;
  font-weight: 300;
  text-align: center
}

mat-tab-group {
  width: 100%;
}

mat-tab {
  width: 100%;
}

.app-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;

  .build-tree {
    width: 60%;
  }

  .resources {
    width: 40%;
  }

  .components {
    width: 50%;
  }

  .relics {
    width: 50%;
  }

}
