<h1>Warframe Prime Builds</h1>
<app-search style="width: 100%;" (buildItemChange)="setActiveBuildObject($event)"></app-search>

<mat-tab-group mat-stretch-tabs>
  <mat-tab label="Relic Component Acquisition">
    <div class="app-container">
      <div class="components">
        <h2>Relic Components</h2>
        <app-relic-components [buildObject]="buildObject"
                              (activeRelicChange)="setActiveRelic($event)">
        </app-relic-components>
      </div>

      <mat-divider vertical></mat-divider>

      <div class="relics">
        <h2>Relics</h2>
        <app-relic [relic]="activeRelic"></app-relic>
      </div>

    </div>
  </mat-tab>
  <mat-tab label="Crafting Requirements">
    <div class="app-container">
      <div class="build-tree">
        <h2>Build Tree</h2>
        <app-build-tree [buildObject]="buildObject"></app-build-tree>
      </div>

      <mat-divider vertical></mat-divider>

      <div class="resources">
        <h2>Resources</h2>
        <app-resource-list [buildObject]="buildObject"></app-resource-list>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
